* {
  box-sizing: border-box;
}

.accordion {
  margin: 5rem auto;
  width: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
}

.accordion li {
  width: 100%;
  padding: 10px 10px 10px 15px;
  border-radius: 8px;
  background-color: #1e1e27;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Noto Sans Bengali", sans-serif;
}

.accordion li label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
}

.accordion li input[type="radio"] {
  display: none;
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s ease;
}

.accordion .content p {
  margin-bottom: 10px;
  font-family: "Noto Sans Bengali", sans-serif;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 200px;
}

.accordion input[type="radio"]:checked + label::before {
  content: "-";
}
