.edit-profile-inner {
  border: 1px solid #232323;
  width: 40%;
  margin: 3rem auto;
  padding: 2rem;
}

.left-side .profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left-side .profile h3 {
  font-weight: 500;
}

.left-side .profile input#add-photo-btn {
  display: none;
}

.left-side .profile .profile-area label {
  cursor: pointer;
}
.left-side .profile .profile-area {
  position: relative;
  width: 200px;
  height: 200px;
  background: #2f3a4a62;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
