.main-nav {
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.nav-container,
.nav-items,
.log-cart,
.log-cart li {
    display: flex;
    align-items: center;
}

.nav-container {
    justify-content: space-between;
    height: 5rem;
    gap: 5rem;
}

.menu-log-cart {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-container img {
    width: 180px;
}

.nav-items {
    gap: 4rem;
}

.log-cart {
    gap: 1rem;
    align-items: center;
}

.log-cart .cart-icon,
.log-cart .login-icon {
    width: 35px;
    height: 35px;
    justify-content: center;
    background-color: #EEBF0E;
}

.log-cart li a {
    font-size: 17px;
    color: #000;
}

.cart-icon {
    position: relative;
}

.cart-length {
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 13px;
}

li.user-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1rem;
    border: 2px solid #EEBF0E;
    cursor: pointer;
}

.user-settings {
    position: absolute;
    background-color: #00000047;
    color: #000;
    top: 106%;
    right: 0rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #EEBF0E;
}

.user-settings p,
.user-settings button {
    background-color: #EEBF0E;
    padding: 10px;
    transition: all 0.3s ease;
}

.user-settings p:hover,
.user-settings button:hover {
    background-color: #d1a910;
}

.signout-btn {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.responsive-navBar {
    display: none;
}