.form {
    height: auto;
    margin: 0 auto 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0 1rem 0;
    border: 1px solid #232323;
}

.form-container form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem;
}

.form-title {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.input-field {
    width: 100%;
}

.input-field input {
    width: 100%;
    padding: 17px 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: #000;
}

.input-field input::placeholder {
    color: #A8A8A8;
}

.input-field input[type="submit"] {
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: #EEBF0E;
    color: #000;
    font-weight: bold;
    border-radius: 0;
    cursor: pointer;
}

.form-container form a {
    color: #EEBF0E;
    text-align: center;

}

.error-message {
    font-size: 15px;
    font-weight: 300;
    color: red;
    margin: 5px 0 0 10px;
}